section.box_slider_home {

    @import "modules/_datos_tienda";

   .slider_home {
        position: relative;
      height:480px !important;
        @media (max-width:767px){
                    height: 400px !important;
        }
      .item {
            position: relative;
            .caption {
              @include centerer(false, true);
               text-align: left;
                      @media(max-width: 991px){
                        @include centerer(true, true);
                        text-align: center;
                        width: 90%;
                      }
             
                    h3 {
                      @include clarendon(50px, black);
                      text-transform: uppercase;
                       @media(max-width: 768px){
                           font-size: 40px;
                      }
                       @media(max-width: 375px){
                           font-size: 35px;
                      }
                    }
                    h4 {
                      @include clarendon(30px, black);
                      text-transform: uppercase;
                      letter-spacing: 5px;
                       @media(max-width: 768px){
                           font-size: 24px;
                      }
                       @media(max-width: 375px){
                           font-size: 18px;
                      }
                    }
                    p{
                       @include clarendon(14px, black);
                        @media(max-width: 768px){
                            font-size: 16px;
                       }
                        @media(max-width: 375px){
                            font-size: 16px;
                       }
                    }
                    .divider{
                          color:black;
                          max-width:500px;
                          margin:10px auto 20px auto;
                          overflow:hidden;
                          text-align:left;   
                          line-height:1.2em;
                             @media(max-width: 768px){
                                  max-width:400px;
                            }
                      }

                        .divider:before,
                        .divider:after{
                            content:"";
                            vertical-align:middle;
                            display:inline-block;
                            width:60px;
                            border-bottom:1px solid black;
                            margin-top: -6px;
                           // margin:0 2% 6px -55%;
                        }
                        .divider:before{
                          margin-right: 10px;
                        }
                        .divider:after{
                          margin-left: 10px;
                        }
                  a{
                    display: inline-block;
                    margin-top: 20px;
                    &.btn_blanco {
                        @extend %btn_blanco;
                    }
              }
               // foto oscura
              &.texto_blanco {
                h3, h4, p,
                .divider,
                .divider:before,
                .divider:after{ 
                  color: white;
                }
                 .divider:before,
                .divider:after{ 
                  border-bottom:1px solid white;
                }
                a.btn_blanco {
                        border-color: white;
                        color: white;
                        &:hover {
                        border: 1px solid transparent;
                        background-color: $rojo;
                        color: white;
                         //padding: 10px 30px;
                      }
                }
              }
            }// caption
          
            .img_slide {
                background-size: cover !important;
                background-position: center !important;
                //height: 100% !important;
               // display: block !important;
                background-repeat: no-repeat !important;
                height:480px !important;
                @media (max-width:767px){
                    height: 400px !important;
                }
            }
        .owl-video-wrapper {
              
                  min-height: 480px;
                  overflow: hidden;
                  @media (max-width: 767px){
                      min-height: 400px;
                  }
          a{
              position: relative;
              &.item-video {


              }
            
          }
          .owl-video{
            display: block;
              }
              .owl-video-play-icon {
                  transition: transform .1s ease;
                &:hover {
                  transform: scale(1.3, 1.3);
                }
              }
              .owl-video-tn {
          
                min-height: 480px;
               
                  @media (max-width: 767px){
                      min-height: 400px;
                  }
              }
        }
        a{
          display: inline-block;
          margin-top: 20px;
          text-align: center;
          &.btn_single_img {
            @extend %btn_single_image;
          }
          

             // hover foto oscura
                    &.texto_negro {
                        color: black;
                        border: 1px solid black;
                    
                    }

        }
      } // item

      .owl-nav{
        &.disabled {
          display: none;
        }
      }

      .owl-dots {
        position: absolute;
        @include centerer(true, false);
        bottom: 10px;
         &.disabled {
                      display: none;
                    }
        .owl-dot {
              span {
                  border: 2px solid white;
                  background: transparent;
                  border-radius: 50px;
                  height: 15px;
                  width: 15px;
                  cursor: pointer;
                  @media(max-width: 767px){
                      margin-left: 5px;
                      margin-right: 5px;
                  }
                }
          }
          .owl-dot.active {
              span {
                background-color: $rojo;
              }
          }

        } // dots
      }

  }

  