section.travellers_actividades{
    @extend .main_content;
      padding: 0;
         h4 {
          @include clarendon(20px, black);
          text-transform: uppercase;
          letter-spacing: 5px;
           @media(max-width: 768px){
               font-size: 18px;
          }
           @media(max-width: 375px){
               font-size: 16px;
          }

            &.divider{
              color:black;
              margin:0 0 60px 15px;
              overflow:hidden;
              text-align:left;   
           
          }

            &.divider:before{
                content:"";
                vertical-align:middle;
                display:inline-block;
                width:60px;
                border-bottom:1px solid black;
                margin-top: -6px;
          
            }
            &.divider:before{
              margin-right: 10px;
            }
        }
          
  
}