* {
   -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
  position: relative;
  min-height: 100%;
  font-size: 100%;
}
body {
   padding-top: 70px;
 
  @media(max-width: 767px){
   // padding-top: 92px;
  }

}

button, input, select[multiple],
textarea { background: transparent; border: 0;}
a, a:hover, a:focus, button {text-decoration: none; outline: none;}
embed, object, video { max-width: 100%; height: auto;}
iframe { max-width:100%;}
.clear{clear: both; display: block; margin: 0; padding: 0;}
.nopad { padding: 0 !important;}
.nomargin { margin: 0 !important;}


// elimina el padding de las columnas
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}
//  remover bordes de links 
// ---------------------------------------
a:focus,
input[type="text"]{
  outline: none !important;
}
//  color del focus inputs
// ---------------------------------------
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: none;
  box-shadow:none;
  outline: 0 none;
}

@media (min-width: 768px) and (max-width: 1440px) {
  .container.width {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
  }
}
@media (max-width: 767px)  {
  .container.width {
     
      padding-left: 0;
      padding-right: 0;
  }
}

